
<!-- H1 stuff is super important for SEO -->

<br/>
<br/>

<div class="span6 offset1 smurfy text-center">


	<h1 class='custom-h1'>
		Hey, I'm Nate. <br/>
		From OC and OC.
	</h1>

	<br/>

	<h2>
		Let's go adventuring!
	</h2>

	<br/>

	<%= link_to 'Launch', pics_path, :class => 'btn btn-success btn-large' %>	

</div>
