<% @pics.each_slice(3) do |slice| %>
	<div class="row">
		<% slice.each do |pic| %>
			<div class="smurfy span4 text-center">
					<h1 class="custom-h1">
						<%= pic.title %>
					</h1>
					<br />
					<h2>
						Location: <%= pic.location %>
					</h2>
					<br />
						<%= image_tag pic.image %>
					<br />
						<%= pic.message %>
					
			</div>
	</div>
	<% end %>
<% end %>
